@model IEnumerable<Lab1.Web.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pepoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concerts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal total = 0;
        }
        @{
            decimal totalp = 0;
        }
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pepoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concerts.ConcertName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concerts.ConcertPrice)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

            </tr>
            total += item.Concerts.ConcertPrice;
            totalp += item.Concerts.ConcertPrice * item.Pepoles;
        }  
    </tbody>
    <tr>
        <td>Total Ticket Price on ticket:</td>
        <td>@total</td>
    </tr>
    <tr>
        <td>Total Ticket Price for people:</td>
        <td>@totalp</td>
    </tr>
</table>


